.history__time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 29px;
}

.history__time .text__word {
  padding: 0;
  margin: 0;
  background-color: inherit;
}
