.history {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 626px;
  min-height: 399px;
}

@media (max-width: 1024px) {
  .history {
    width: 800px;
  }
}
