.page {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.theme {
  background-color: var(--background-default);
  color: var(--text-default);
  border-color: var(--border-color);

  --breakpoint: 1144px;
}

.theme_color_project-default {
  --background-default: #ffffff;
  --background-accent: #ffcc00;
  --border-color: #000000;

  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-ghost: rgba(0, 0, 0, 0.3);
  --link-color: #0077ff;
}

.theme_color_project-warning {
  --background-default: #ff3333;
  --background-accent: #ffffff;
  --border-color: #ff3333;

  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-ghost: rgba(255, 255, 255, 0.3);
  --link-color: #ffffff;
}

.theme_color_project-inverse {
  --background-default: #000000;
  --background-accent: #ffffff;
  --border-color: #ffffff;

  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-ghost: rgba(255, 255, 255, 0.3);
  --link-color: #0070f0;
}

.theme_size_default {
  --font-size-s: 7px;
  --font-size-m: 8px;
  --font-size-l: 10px;
  --font-size-xl: 11px;
  --font-size-xxl: 13px;

  --line-height-s: 18px;
  --line-height-m: 21px;
  --line-height-l: 25px;
  --line-height-xl: 28px;
  --line-height-xxl: 34px;
}

.theme_space_default {
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
}

.theme_gap_small {
  --gap: var(--space-xxxl);
}

@media (max-width: var(--breakpoint)) {
  .theme_gap_small {
  --gap: var(--space-m);
  }
}

.header {
  width: 100%;
  background-color: var(--background-default);
}

.header__content {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  width: 180px;
  height: 35px;
  background-color: var(--text-default);
}

.onoffswitch {
  display: block;
  position: relative;
  width: 90px;
  height: 30px;
  border: 2px solid var(--text-default);
}

.onoffswitch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: var(--text-default);
}

.onoffswitch_checked {
  display: block;
  position: relative;
  width: 90px;
  height: 30px;
  border: 2px solid var(--text-default);
}

.onoffswitch_checked::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  background-color: var(--text-default);
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: var(--background-default);
}

.footer__content {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.text {
  display: block;
}

.text_view_primary {
  background-color: var(--text-default);
}

.text_size_l {
  height: var(--font-size-l);
}

.text__word {
  display: block;
}

.text_size_l .text__word_width_l {
  width: 180px;
}

/* footer */