html * {
  background-color: rgba(100, 149, 237, 0.5);
}

.page {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1144px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
}

.theme_color_project-default {
  --background-default: #ffffff;
  --background-accent: #ffcc00;
  --border-color: #000000;

  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-ghost: rgba(0, 0, 0, 0.3);
  --link-color: #0077ff;
  color: rgba(28, 39, 33, 0.404);
}

.theme_size_default {
  --font-size-s: 7px;
  --font-size-m: 8px;
  --font-size-l: 10px;
  --font-size-xl: 11px;
  --font-size-xxl: 13px;

  --line-height-s: 18px;
  --line-height-m: 21px;
  --line-height-l: 25px;
  --line-height-xl: 28px;
  --line-height-xxl: 34px;
}


.informer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 380px;
  justify-content: space-around;
}

.informer_border_all {
  border: 3px solid var(--border-color);
}


.text_size_xl {
  height: var(--font-size-xl);
}

.text_align_center {
  align-items: center;
  justify-content: space-between;
}

.text_size_s .text__word_width_s {
  width: 20px;
}

.text_size_s .text__word_width_m {
  width: 48px;
}

.text_size_s .text__word_width_l {
  width: 100px;
}

.text_size_m .text__word_width_s {
  width: 24px;
}

.text_size_m .text__word_width_m {
  width: 56px;
}

.text_size_m .text__word_width_l {
  width: 114px;
}

.text_size_l .text__word_width_s {
  width: 28px;
}

.text_size_l .text__word_width_m {
  width: 68px;
}

.text_size_xl .text__word_width_s {
  width: 32px;
}

.text_size_xl .text__word_width_m {
  width: 74px;
}

.text_size_xl .text__word_width_l {
  width: 154px;
}

.text_size_xxl .text__word_width_s {
  width: 36px;
}

.text_size_xxl .text__word_width_m {
  width: 88px;
}

.text_size_xxl .text__word_width_l {
  width: 184px;
}

.text {
  display: flex;
}

.text_view_primary {
  flex-direction: column wrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--text-default);
}

.text__word {
  display: block;
}

.text_size_l .text__word_width_l {
  height: var(--font-size-l);
  width: 138px;
}

.text_size_xl .text__word_width_s {
  height: var(--font-size-xl);
  width: 32px;
}

.text_size_xl .text__word_width_m {
  height: var(--font-size-xl);
  width: 74px;
}

.text_size_xl .text__word_width_l {
  height: var(--font-size-xl);
  width: 154px;
}

