.text_size_s {
  height: var(--font-size-s: 7px;);
}

.text_size_m {
  height: var(--font-size-s: 7px;);
}

.text_size_l {
  height: var(--font-size-s: 7px;);
}

.text_size_xl {
  height: var(--font-size-s: 7px;);
}

.text_size_xxl {
  height: var(--font-size-s: 7px;);
}