$colorBackgroundDefault: #ffffff;
$colorAccent: #ffcc00;
$colorBorder: #000000;

.theme {
  &_color {
    &_project-default {
      background-color: $colorBackgroundDefault;
      border-color: $colorBorder;
    }
  }
}