.footer__content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 102px;
}

@media (max-width: 1024px) {
  .footer__content {
    width: 100%;
    margin: 0 15px;
  }
}
