.product {
  display: flex;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 245px;
  height: 300px;
}
