.product__image {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 268px;
  height: 160px;
}

@media (max-width: 1024px) {
  .product__image {
    width: 100%;
  }
}
