.text__word {
  margin-bottom: 15px;
  background-color: var(--text-default);
}

.warning__content .text__word {
  margin-bottom: var(--line-height-s);
}

.event__description .text__word {
  margin-bottom: 17px;
}
