.text__word {
  margin-bottom: 15px;
  background-color: var(--text-default);
  transition: all 0.4s ease-in-out;
}

.warning__content .text__word {
  margin-bottom: var(--line-height-s);
}

.event__description .text__word {
  margin-bottom: 17px;
}

.history__time .text__word {
  padding: 0;
  margin: 0;
}
