.theme_color_project-default {
  --background-default: rgb(255, 255, 255);
  --background-accent: rgb(255, 204, 0);
  --border-color: rgb(0, 0, 0);
  --text-default: rgb(0, 0, 0);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-ghost: rgba(0, 0, 0, 0.3);
  --link-color: rgb(0, 119, 255);
}
