.product__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 38px;
}

.product__footer .text__word {
  margin-top: 10px;
  margin-bottom: 5px;
}
