.product {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 245px;
  height: 300px;
}

.grid__fraction_m-col_3 .product {
  width: 310px;
  margin-bottom: 51px;
}

@media (max-width: 1024px) {
  .product,
  .grid__fraction_m-col_3 .product {
    width: 800px;
    margin-bottom: 0;
  }
}
