.layout__container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .layout__container {
    width: 800px;
  }
}