.theme_color_project-brand {
  --background-default: rgb(0, 119, 255);
  --background-accent: rgb(255, 255, 255);
  --border-color: rgb(255, 255, 255);
  --text-default: rgb(255, 255, 255);
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-ghost: rgba(255, 255, 255, 0.3);
  --link-color: rgb(255, 255, 255);

  transition: all 0.1s ease-in-out;
}
