.onoffswitch_checked {
  display: block;
  position: relative;
  width: 90px;
  height: 30px;
  border: 2px solid black;
}

.onoffswitch_checked::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  background-color: black;
}
