.text_size_s {
  height: var(--font-size-s);
}

.text_size_m {
  height: var(--font-size-m);
}

.text_size_l {
  height: var(--font-size-l);
}

.text_size_xl {
  height: var(--font-size-xl);
}

.text_size_xxl {
  height: var(--font-size-xxl);
}
