.payment {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 844px;
  height: 389px;
  transition: all 0.1s ease-in-out;
}

.payment .text__word {
  margin-bottom: 2px;
}

@media (max-width: 1024px) {
  .payment {
    width: 800px;
    transition: all 0.1s ease-in-out;
  }
}
