.onoffswitch,
.onoffswitch_checked {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 97px;
  height: 32px;
  background-color: var(--background-default);
  border: 2px solid var(--border-color);
}

.onoffswitch:hover {
  cursor: pointer;
}
