.cover {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 409px;
  height: 472px;
}

@media (max-width: 1024px) {
  .cover {
    width: 800px;
  }
}
