.informer__content_distribute_default {
  justify-content: flex-start;
}

.informer__content_distribute_center {
  justify-content: center;
}

.informer__content_distribute_between {
  justify-content: space-between;
}
