.theme_color_project-default {
  --background-default: #ffffff;
  --background-accent: #ffcc00;
  --border-color: #000000;

  --text-default: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-additional: rgba(0, 0, 0, 0.3);
  --link-color: #0077ff;
}