.grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: var(--transition);
}

@media (max-width: 1024px) {
  .grid {
    flex-direction: column;
    justify-content: center;
    transition: var(--transition);
  }
}
