.grid__fraction_m-col_3 {
  max-width: calc((var(--screen-m) / var(--columns)) * 3);
  transition: var(--transition);
}

@media (max-width: 1024px) {
  .grid__fraction_m-col_3 {
    max-width: 800px;
    transition: var(--transition);
  }
}
