.grid__fraction_m-col_5 {
  max-width: calc((var(--screen-m) / var(--columns)) * 5);
  transition: var(--transition);
}

@media (max-width: 1024px) {
  .grid__fraction_m-col_5 {
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: var(--space-xxl);
    transition: var(--transition);
  }
}
