.grid__fraction_m-col_3 {
  max-width: calc((var(--screen-m) / var(--columns)) * 3);
}

.grid__fraction_m-col_3 .product {
  width: 310px;
}

.grid__fraction_m-col_3 .image {
  width: 268px;
  background-image: url(image-placeholder-inverse.svg);
  background-color: var(--background-default);
}
