.grid__fraction_m-col_4 {
  grid-column: span 4;
  transition: var(--transition);
}

@media (max-width: 1024px) {
  .grid__fraction_m-col_4 {
    max-width: 800px;
    transition: var(--transition);
  }
}
