.grid__fraction {
  --screen-m: 1280px;
}

@media (max-width: 1024px) {
  .grid__fraction {
    margin: 0 auto;
    margin-bottom: var(--gap-mobile-card);
  }

  .grid__fraction:nth-child(2n) {
    margin-bottom: 7px;
  }

  .grid__fraction:last-child {
    margin-bottom: 0;
  }

  .grid__fraction > .warning,
  .grid__fraction > .history {
    margin-bottom: 7px;
  }
}
