.grid__fraction_m-col_8 {
  grid-column: span 8;
  transition: var(--transition);
}

@media (max-width: 1024px) {
  .grid__fraction_m-col_8 {
    grid-column: span 1;
    transition: var(--transition);
  }
}
