.button_size_s {
  width: var(--button-size-w);
  height: 24px;
}

.button_size_m {
  width: var(--button-size-w);
  height: 32px;
}

.button_size_l {
  width: var(--button-size-w);
  height: 42px;
}

.button_size_xl {
  width: var(--button-size-w);
  height: 56px;
}

.button_size_xxl {
  width: var(--button-size-w);
  height: 64px;
}
