.image {
  width: 203px;
  height: 160px;
  background-image: url(../source/img/image-placeholder-primary.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.theme_color_project-inverse .image {
  background-image: url(../source/img/image-placeholder-inverse.svg);
}
