.theme_color_project-inverse {
  --background-default: #000000;
  --background-accent: #ffffff;
  --border-color: #ffffff;

  --text-default: #ffffff;
  --text-secondary: rgba(255, 255, 255, 0.6);
  --text-additional: rgba(255, 255, 255, 0.3);
  --link-color: #0070f0;
}