.onoffswitch__button {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--border-color);
  background-color: var(--border-color);
}

.onoffswitch_checked .onoffswitch__button {
  position: absolute;
  top: 2px;
  left: 67px;
}
