.theme_color_project-default > .image,
.image {
  min-width: 203px;
  height: 160px;
  background-color: var(--background-default);
  background-image: url(img/image-placeholder-primary.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
}

.theme_color_project-inverse > .image {
  min-width: 203px;
  height: 160px;
  background-color: var(--background-default);
  background-image: url(img/image-placeholder-inverse.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
}

.grid__fraction_m-col_3 .image {
  width: 268px;
}

@media (max-width: 1024px) {
  .image {
    width: 758px;
  }
}
