.image,
.theme_color_project-default > .image {
  min-width: 203px;
  height: 160px;
  background-image: url(image-placeholder-primary.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-in-out;
}

.theme_color_project-inverse > .image {
  background-image: url(image-placeholder-inverse.svg);
}

.cover__preview > .image {
  background-image: url(image-placeholder-inverse.svg);
  background-position: top 55px left 126px;
}

@media (max-width: 1024px) {
  .image {
    width: 759px;
  }

  .cover__preview > .image {
    height: 174px;
    background-position: 321px center;
  }
}
