.input {
  width: 100%;
  background-color: var(--background-accent);
}

.payment__content .input {
  box-sizing: border-box;
  width: 510px;
  background-color: var(--background-default);
  border: 3px solid var(--border-color);
}

@media (max-width: 1024px) {
  .payment__content .input {
    width: 481px;
  }
}
