.list__item_indent-b_s {
  margin-bottom: var(--space-s);
}

.list__item_indent-b_m {
  margin-bottom: var(--space-m);
}

.list__item_indent-b_l {
  margin-bottom: var(--space-l);
}

.list__item_indent-b_xl {
  margin-bottom: var(--space-xl);
}
