.image {
  width: 100%;
  background-image: url(/source/img/image-placeholder-primary.svg);
  background-color: var(--text-default);
  border: 3px solid var(--border-color);
}

.theme_color_project-inverse .image {
  background-image: url(/source/img/image-placeholder-inverse.svg);
}
